@font-face 
{
	font-family: 'Bebas';
	src: url('typo/BebasKai.ttf');
 }

@font-face 
{
	font-family: 'Champagne';
	src: url('typo/Champagne.ttf');
 }

@font-face 
{
	font-family: 'Vogue';
	src: url('typo/Vogue.ttf');
}