@font-face 
{
	font-family: 'Bebas';
	src: url('../typo/BebasKai.ttf');
 }

@font-face 
{
	font-family: 'Champagne';
	src: url('../typo/Champagne.ttf');
 }

@font-face 
{
	font-family: 'Vogue';
	src: url('../typo/Vogue.ttf');
}

html 
{
	height:100%;
	scroll-behavior: smooth;
	font-family: Champagne;
	/*background-image: url("../images/test.jpeg");*/
	background-color: grey;
}

div
{
	background-size: 100%;
	color : black;
}

table
{
	background-color: white;
	border-collapse : collapse;
	
}
th,td /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
    text-align : center;
}


.menu {
	background-color: brown;
}

footer {
		background: red;
		text-align: center;
		font-size: 18px;
	 }

	 footer p{
	 }

	 footer a{
	 }-